h4 {
    text-align: center;
}

.dossier {
    width: 400px;
    margin: 30px auto;
}

#user-stats dl,
#user-stats dt,
#user-stats dd {
    display: inline-block;
    text-align: center;
}

#user-stats {
    text-align: center;
}

#out {
    background: white none repeat scroll 0 0;
    margin: 10px auto 20px;
    max-width: 980px;
    padding: 20px;
    color: #555;
}

#out textarea {
    width: 100%;
    height: 250px;
    padding: 5px 10px;
}

.fill-the-blanks h4 {
    text-align: left;
}

.fill-the-blanks .col-md-8 {
    padding: 0 30px 0 0;
}

.fill-the-blanks .buttons-block {
    padding: 0;
}

.btn-google {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    color: #4285f4;
}

.btn-yandex {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    color: #ff0000;
}

.btn-misc {
    background-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    color: #555;
}

.buttons-block form {
    margin-top: 6px;
}

.fill-the-blanks .buttons-block-offset {
    padding-top: 45px;
}

.alert {
    margin: 10px 0;
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #ccc;
    border-radius: 3px 0 0 3px;
}

#attention {
    background: #d9534f;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2713';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2713';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}